.footer__container {
	background-color: var(--light-menu-bg);
	display: flex;
	flex-direction: column;
	text-align: center;
}

.footer__top {
	display:  flex;
	flex-direction: horizontal;
	gap: 3rem;
	border-width: 2px;
	border-top: solid;
	border-color: white;
	text-align: left;
	padding-top: 1rem;
}

.footer__bottom {
	padding: 1rem;
	border-width: 2px;
	border-top: solid;
	border-color: white;
}

.footer__left {
	display:  flex;
	padding-bottom: 0.5rem;
	flex-direction: column;
	margin-left: 10rem;
}

.footer__right {
	display:  flex;
	padding-bottom: 0.5rem;
	flex-direction: column;
	margin-left: 3rem;
}

.footer__lang {
	padding: 0.5rem;
}


.footer__text {
	color: white;
}

.footer__textindent {
	color: white;
	margin-left: 2rem;
}