:root{
    /* Theme 1 */
    --menu-bg: #e2147e;
    --light-text: #ffffff;
    --dark-text: #000000;
    --page-bg: #f8e0ee;
}

.page{
    background-color: var(--page-bg);
}

body{
    margin: 0;
    padding: 0;
}